.ContainerHome {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 130px;
  color: white;
  /* background: red; */
  max-width: 1800px;
}

.titulo {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-content: 100px;
  margin-left: -100px;
  margin-top: -90px;
  
}

.ContainerHome h1 {
  margin-top: 190px;
  font-size: 44px;
  text-align: center;
}
.titulo h3 {
  font-size: 24px;
  margin-right: 150px;
  color: #ffc165;
}

#perfil {
  width: 400px;
  margin: 30px;
}


.divictech {
  text-align: center;
  margin-top: 240px;
}


.ictech {
  width: 40px;
  margin: 40px;
  margin: 15px auto;
  margin-right: 10px;
}


.botoesdiv {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;

}


.botoesdiv a {
 border-radius: 5px;
 margin-left: 15px;
 text-align: center;
 width: 130px;
 height: 30px;
 padding: 3px;
 color: white;
 margin-top: 16px;
background: linear-gradient(90deg, #ffc165 0%, #150a41 100%);
}


.botoesdiv a:hover {
  background: linear-gradient(90deg, #150a41 0%, #4143e9 100%);
}





