.Container-Projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1c1c27;
  margin-top: 160px;
}

h1 {
  text-align: center;
}

.Container-Projeto h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  border-radius: 50px;
  align-items: center;
  background: #ffc165;
}

th {
  display: flex;
  flex-wrap: nowrap;
}

/* criando sippner load  */
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: 220px;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

.dados {
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-self: center;
  max-width: 1300px;
}

th {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

th span {
  margin: 10px;
  margin-bottom: 10px;
}

table tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

table div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
  height: 350px;
  width: 240px;
  padding: 5px;
  margin: 15px;
  background: #dbdcef;
  border-radius: 5px;
  text-align: center;
}

table img {
  align-self: center;
  margin-top: 25px;
  height: 95px;
  width: 200px;
  border-radius: 3px;
}

table p {
  cursor: pointer;
  color: blue;
}

table #botaodadosmodal {
  align-self: flex-end;
}

/* ---------------Modal--------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.modal-content h2 {
  text-align: center;
}

.modal-content #botaomodal {
  display: flex;
  flex-direction: column;
}

.modal-content button {
  background: linear-gradient(90deg, #ffc165 0%, #474bff 100%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #dbdcef;
}

table h3 {
  width: 230px;
  word-wrap: break-word;
}
